In [4]:
import pandas as pd

# Cargar los datos CSV de Disney
disney_data = pd.read_csv('D:/cursos/challenge rockingdata/disney_plus_titles.csv')

# no podia utilizar el archivo de netflix debido a como fueron cargados, me devuelva errores de ParserError: Error tokenizing data. Por eso
#para este caso lo realice para el de disney

In [17]:
import pandas as pd

# Cargar los datos CSV de Disney
disney_data = pd.read_csv('D:/cursos/challenge rockingdata/disney_plus_titles.csv')

# Define el nombre del archivo de salida en formato CSV estándar
nombre_archivo = 'datos_tabulares.csv'

# Guarda el DataFrame 'disney_data' en un archivo CSV estándar
disney_data.to_csv(nombre_archivo, index=False)

# Donde 'disney_data' es el nombre de tu DataFrame y 'nombre_archivo' es el nombre del archivo de salida en formato CSV estándar.

In [5]:
#Visualización de las primeras filas de los datos:
disney_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [6]:
#Estadísticas resumidas:
disney_data.describe()

       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000

In [7]:
#Comprobación de valores nulos:
disney_data.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [8]:
#Comprobación de duplicados:
disney_data.duplicated().sum()

0

In [ ]:
#Problemas identificados y soluciones sugeridas:

#Valores Nulos: Si has encontrado columnas con valores nulos, considera cómo tratarlos. Puedes eliminar las filas con valores nulos usando 'dropna()' 
#o llenarlos con valores apropiados usando 'fillna()'.

#Duplicados: Si has encontrado filas duplicadas, puedes eliminarlos utilizando 'drop_duplicates()' si no son necesarios para tu análisis.

#Tipo de Datos: Verifica si el tipo de datos de cada columna es apropiado. Si es necesario, puedes cambiar el tipo de datos utilizando 'astype()'.